.SiteWrapper{
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  width: 100%;
}

.Home{
  margin: 0 auto;
  max-width: 640px;
}

.Home h1{
  text-align: center;
  text-transform: Capitalize;
}

.WeatherInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureTemp{
  font-size: 140px; 
  font-weight: bold; 
  line-height: 140px; 
  margin: 0; 
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureLabel{
  font-weight: bold;
  margin: 0;
}

.WeatherInfo_Image{
  flex-basis: 50%;
  font-size: 100px;
}

.WeatherInfo_Data{ 
  flex-basis: 50%;
}

.OtherTemperatures .OtherInfo p{ 
  line-height: 24px;  
  font-size: 24px; 
}

.CurrentTemperature p{
  text-transform: uppercase;
}

.Header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.CitiesNav{
display: flex;
}

.CitiesNav a{
  padding: 5px; 
  border-bottom: 1px solid transparent;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: border-bottom 400ms ease;

} 

.CitiesNav a:hover{
 border-bottom: 1px solid black;
}

body { 
  font-size: 16px; 
}

main { 
  font-size: 18px;
}